.image-container {
    position: relative; /* Позиционирање за копчето */
}

.image-row img {
    width: 100%; /* Сликите зафаќаат 100% од ширината на контейнерот */
    height: 100%; /* Висината ќе биде 100% од контейнерот */
    object-fit: cover; /* Задржува пропорции на сликата */
}

.button {
    position: absolute; /* Позиционирање над сликата */
    top: 50%; /* Позиционирајте го вертикално во средина */
    left: 50%; /* Позиционирајте го хоризонтално во средина */
    transform: translate(-50%, -50%); /* Центрирање */
    padding: 10px 20px; /* Размак околу текстот */
    background-color: rgba(255, 255, 255, 0.5); /* Транспарентна позадина */
    color: #333; /* Боја на текстот */
    text-decoration: none; /* Без подчертавање */
    border-radius: 5px; /* Заоблени агли */
    font-size: 16px; /* Големина на текстот */
    transition: background-color 0.3s; /* Ефект на прелив */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Појаснување на позадината при ховер */
}
